@{
    ViewData["Title"] = "Home Page";
}


<div class="homepage">
    <div class="main">
        <div id="overlay"></div>
        <h1 class="tagline">
            CINEMATIX<br /> <a id="join-now" asp-area="" asp-controller="Tickets" asp-action="Index">CHECK OUT</a>
        </h1>
      
        <img src="https://github.com/kabirbatra03/WebStream-animation/blob/master/assets/bucket.png?raw=true" class="bucket" />
        <canvas id="3dglass">
            Your browser does not support the HTML canvas tag.
        </canvas>
        <div id="glasses">
            <div id="red"></div>
            <div id="blue"></div>
        </div>
        <div class="popcorn" id="0"></div>
        <div class="popcorn" id="1"></div>
        <div class="popcorn" id="2"></div>
        <div class="popcorn" id="3"></div>
        <div class="popcorn" id="4"></div>
        <div class="popcorn" id="5"></div>
        <div class="popcorn" id="6"></div>
        <div class="popcorn" id="7"></div>
        <div class="popcorn" id="8"></div>
        <div class="popcorn" id="9"></div>
        <div class="popcorn" id="10"></div>
        <div class="popcorn" id="11"></div>
        <div class="popcorn" id="12"></div>
        <div class="popcorn" id="13"></div>
        <div class="popcorn" id="14"></div>
        <div class="popcorn" id="15"></div>
        <div class="popcorn" id="16"></div>
        <div class="popcorn" id="17"></div>
        <div class="popcorn" id="18"></div>
        <div class="popcorn" id="19"></div>
        <div class="popcorn" id="20"></div>
        <div class="popcorn" id="21"></div>
        <div class="popcorn" id="22"></div>
        <div class="popcorn" id="23"></div>
        <div class="popcorn" id="24"></div>
        <div class="popcorn" id="25"></div>
        <div class="popcorn" id="26"></div>
        <div class="popcorn" id="27"></div>
        <div class="popcorn" id="28"></div>
        <div class="popcorn" id="29"></div>
        <div class="popcorn" id="31"></div>
        <div class="popcorn" id="32"></div>
        <div class="popcorn" id="33"></div>
        <div class="popcorn" id="34"></div>
        <div class="popcorn" id="35"></div>
        <div class="popcorn" id="36"></div>
        <div class="popcorn" id="37"></div>
        <div class="popcorn" id="38"></div>
        <div class="popcorn" id="39"></div>
        <div class="popcorn" id="40"></div>
        <div class="popcorn" id="41"></div>
        <div class="popcorn" id="42"></div>
        <div class="popcorn" id="43"></div>
        <div class="popcorn" id="44"></div>
        <div class="popcorn" id="45"></div>
        <div class="popcorn" id="46"></div>
        <div class="popcorn" id="47"></div>
        <div class="popcorn" id="48"></div>
        <div class="popcorn" id="49"></div>
        <div class="popcorn" id="50"></div>
        <div class="popcorn" id="51"></div>
        <div class="popcorn" id="52"></div>
        <div class="popcorn" id="53"></div>
        <div class="popcorn" id="54"></div>
        <div class="popcorn" id="55"></div>
        <div class="popcorn" id="56"></div>
        <div class="popcorn" id="57"></div>
        <div class="popcorn" id="58"></div>
        <div class="popcorn" id="59"></div>
        <div class="popcorn" id="60"></div>
        <div class="popcorn" id="61"></div>
        <div class="popcorn" id="62"></div>
        <div class="popcorn" id="63"></div>
        <div class="popcorn" id="64"></div>
        <div class="popcorn" id="65"></div>
        <div class="popcorn" id="66"></div>
        <div class="popcorn" id="67"></div>
        <div class="popcorn" id="68"></div>
        <div class="popcorn" id="69"></div>
        <div class="popcorn" id="70"></div>
        <div class="popcorn" id="71"></div>
        <div class="popcorn" id="72"></div>
        <div class="popcorn" id="73"></div>
        <div class="popcorn" id="74"></div>
        <div class="popcorn" id="75"></div>
        <div class="popcorn" id="76"></div>
        <div class="popcorn" id="77"></div>
        <div class="popcorn" id="78"></div>
        <div class="popcorn" id="79"></div>
        <div class="popcorn" id="80"></div>
        <div class="popcorn" id="81"></div>
        <div class="popcorn" id="82"></div>
        <div class="popcorn" id="83"></div>
        <div class="popcorn" id="84"></div>
        <div class="popcorn" id="85"></div>
        <div class="popcorn" id="86"></div>
        <div class="popcorn" id="87"></div>
        <div class="popcorn" id="88"></div>
        <div class="popcorn" id="89"></div>
        <div class="popcorn" id="90"></div>
    </div>
</div>


